.footer {
    background: #5c616e;
    padding: 60px 0 40px;
    
    &_contact {
        color: $light_color;
        @include mobile {
            margin: 0 0 10px;
        }
    }
    &_contact-icon {
        @extend .material-icons;
        float: left;
        margin: 0 20px 0 0;
        @include tablet {
            margin-right: 10px;
        }

        .material-icons {
            font-size: 40px;
            @include tablet {
                font-size: 20px;
                line-height: 31px;
            }
        }
    }
    &_contact-title {
        color: #a5aab5;
        font: $font-size__small $font-family__heading;
        display: block;
    }
    &_contact-text {
        color: $light_color;
        line-height: 1.2;
        font-weight: bold;
        text-decoration: none;
    }
    &_menu {
        padding: 74px 0 48px;
        @include mobile {
            padding: 20px 0 10px;
        }
    }
    &_menu-title {
        color: $light_color;
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 26px;
    }
    &_menu-link {
        color: #a5aab5;
        display: block;
        margin: 0 0 16px;
        font-size: $font-size__small;
        text-decoration: none;
        transition: .2s ease color;

        &:hover {
            color: $light_color;
            text-decoration: none;
        }
    }
    &_menu-text {
        color: #a5aab5;
        font-size: $font-size__small;
    }
    &_bottom {
        border-top: 1px solid #6e7380;
        padding: 34px 0 0;
    }
    &_copyright {
        color: #a5aab5;
        font-size: $font-size__small;
        text-align: center;
        margin: 0 0 26px;
    }
    &_copyright-link {
        color: $light_color;
        text-decoration: none;
    }
    &_payments {
        text-align: center;
    }
    &_newslatter {
        position: relative;
        margin: 0 0 30px;
    }
    &_newslatter-input {
        border: 1px solid #a5aab5;
        font-size: 11px;
        color: $light_color;
        background: transparent;
        padding: 10px 40px 10px 6px;
        width: 100%;
    }
    &_newslatter-button {
        cursor: pointer;
        background: transparent;
        border: none;
        padding: 5px;
        position: absolute;
        right: 6px;
        top: 8px;
        color: #a5aab5;
        transition: .2s ease-in-out color;

        &:hover {
            color: $light_color;
        }
        &.material-icons {
            font-size: 16px;
        }
    }
    &_social-icon {
        color: #5c616e;
        font-size: 12px;
        background: $gray_color;
        border-radius: 50%;
        height: 24px;
        width: 24px;
        margin: 0 10px 0 0;
        text-align: center;
        transition: .2s ease-in-out background;
        
        &.fab {
            line-height: 24px;
        }

        &:hover {
            background: $light_color;
            color: #5c616e;
            text-decoration: none;
        }
    }
    &_logo {
        @include tablet {
            display: none;
        }
    }
}
