.checkout-widjet {
    margin: -19px 0 0;
    width: 100%;

    td {
        border-top: 1px solid $gray-color;
        border-bottom: 1px solid $gray-color;
        padding: 20px 0;
    }
    tr:last-child td {
        border-bottom: none;
        padding-bottom: 30px;
    }
    &_total-row {
        td {
            border-bottom: none;
        }
        td + td {
            text-align: right;
        }
    }
    &_product {
        display: flex;
        align-items: flex-start;
        @include mobile {
            display: block;
        }
    }
    &_product-image {
        width: 80px;
        margin: 0 20px 0 0;
        @include mobile {
            width: 100%;
            display: block;
            margin: 0 0 10px 0;
        }
    }
    &_product-title {
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 0 18px;
    }
    &_price {
        margin: 0 0 18px;
        color: $gray_color;
    }
    &_edit,
    &_delete {
        cursor: pointer;
        background: transparent;
        border: none;
        padding: 5px;
        opacity: .5;
        filter: grayscale(1);
        transition: .2s ease-in-out opacity,
                    .2s ease-in-out filter;

        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
        
        .material-icons {
            font-size: 16px;
        }
    }
    &_delete {
        .material-icons {
            color: $bright_color;
        }
    }
    &_count {
        font-size: 16px;
        word-spacing: 5px;
    }
    &_count-price {
        color: $bright_color;
    }
    &_total {
        font-size: 20px;
        text-transform: uppercase;
    }
    &_total-price {
        font-size: 20px;
        font-weight: bold;
        color: $bright_color;
        text-transform: uppercase;
    }
    &_cart-button {
        @extend .button;
        background: $color;
        border-color: $color;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
        margin: 0 8px 0 0;
        white-space: nowrap;
        @include mobile {
            padding-left: 10px;
            padding-right: 10px;
        }

        &:hover {
            background: $light_color;
            color: $color;
        }
    }
    &_cart-button-icon {
        background: url(src/img/icons/shopbag.svg) no-repeat 0 center;
        background-size: 100% auto;
        height: 18px;
        line-height: 18px;
        width: 18px;
        margin: 0 10px 0 0;
        display: inline-block;
        vertical-align: -4px;
        transition: .2s ease-in-out filter;
        @include mobile {
            display: none;
        }

        .checkout-widjet_cart-button:hover & {
            filter: brightness(0);
        }
    }
    &_checkout-button {
        @extend .button;
        background: $bright_color;
        border-color: $bright_color;
        padding-left: 20px;
        padding-right: 20px;
        text-transform: uppercase;
        margin: 0 0 0 8px;
        white-space: nowrap;
        @include mobile {
            padding-left: 10px;
            padding-right: 10px;
        }

        &:hover {
            background: $light_color;
            color: $bright_color;
        }

        .material-icons {
            font-size: 20px;
            vertical-align: -4px;
            margin: 0 0 0 10px;
            @include mobile {
                display: none;
            }
        }
    }
}
