.breadcrumbs {
    text-align: center;

    &_link {
        padding: 0 15px 0 0;
        margin: 0 10px 0 0;
        color: $color;
        position: relative;
        text-decoration: none;

        &::after {
            content: '•';
            position: absolute;
            right: 0;
            top: 0px;
        }
        &.material-icons {
            font-size: 13px;
        }
    }
    &_page {
        color: $bright_color;
    }
}
