.menu-toggle {
    background: transparent;
    display: none;
    box-sizing: border-box;
    border: none;
    padding: 10px 0;
    margin: 0;
    width: 30px;
    overflow: visible;
    position: absolute;
    left: 0;
    top: 17px;
    min-width: inherit;
    z-index: 2;
    position: absolute;
    @include mobile {
        display: block;
    }

    &_line {
        background: $color;
        height: 2px;
        transition: .2s ease background;

        .menu-toggle.opened & {
            background: transparent;
        }
        .header__main & {
            background: $light_color;
            left: 0;
        }
    }
    &::before {
        content: '';
        background: $color;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 2px;
        transition: .2s ease-in-out height, .2s ease-in-out transform;
        .header__main & {
            background: $light_color;
        }
    }
    &::after {
        content: '';
        background: $color;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        transition: .2s ease-in-out height, .2s ease-in-out transform;
        .header__main & {
            background: $light_color;
        }
    }

    &.opened {
        &::before {
            transform: rotateZ(45deg) translate(6px, 9px);
        }
        &::after {
            transform: rotateZ(-45deg) translate(6px, -8px)
        }
    }
    
}
