.menu {

    &_list {
        list-style: none;
        margin: 0;
        text-align: center;
    }
    &_list-item {
        list-style: none;
        margin: 0;
        display: inline-block;
    }
    &_link {
        color: $color;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        margin: 0 10px;

        &:hover,
        &.active {
            color: $bright_color;
            text-decoration: none;
        }

        .header__main & {
            color: $light_color;
        }
    }
    &_arrow {
        font-size: 10px;
        margin: 0 0 0 3px;
    }
}
