.pages {
    display: flex;
    justify-content: center;
    margin: 0 0 100px;
    @include mobile {
        margin: 0 0 50px;
    }

    &__small {
        margin: 0;
    }

    &_holder {
        background: $light-gray_color;
        border-radius: 20px;
        padding: 10px 80px;
        text-align: center;
        display: inline-block;
        white-space: nowrap;
        @include mobile {
            padding-left: 10px;
            padding-right: 10px;
        }

        .pages__small & {
            background: transparent;
            padding: 0;
        }
    }
    &_link {
        background: $light_color;
        color: $color;
        display: inline-block;
        line-height: 26px;
        height: 26px;
        min-width: 26px;
        border-radius: 13px;
        margin: 0 5px;
        padding: 0 8px;
        @include mobile {
            padding-left: 4px;
            padding-right: 4px;
        }

        .pages__small & {
            background: $light-gray_color;
        }
    }
}
