.pages {
    display: flex;
    justify-content: center;
    margin: 0 0 100px;

    &_holder {
        background: $light-gray_color;
        border-radius: 20px;
        padding: 10px 80px;
        text-align: center;
        display: inline-block;
    }
    &_link {
        background: $light_color;
        color: $color;
        display: inline-block;
        line-height: 26px;
        height: 26px;
        min-width: 26px;
        border-radius: 13px;
        margin: 0 5px;
        padding: 0 8px;
    }
}
