.showcase {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height: 170px;
    margin: 0 0 80px;

    &_title {
        margin: 0 0 20px;
    }
    &_image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        opacity: .2;
    }
}
