.slider {
    margin: 0 0 60px;
    
    &_holder {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    &_image {
        width: 100%;
    }
    &_info {
        position: absolute;
        top: 50%;
        left: 0;
        width: 60%;
    }
    &_title {
        color: $light_color;
        font: 60px/34px $font-family__cursive;
        margin: 0 0 20px;
    }
    &_subtitle {
        color: $light_color;
        font: 20px/33px $font-family;
        margin: 0 0 20px;
    }
    &_bright {
        color: $bright_color;
        font-size: 30px;
        font-weight: bold;
    }
}
