.slider {
    margin: 0 0 60px;
    
    &_holder {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        @include mobile {
            max-width: 90vw;
        }
    }
    &_image {
        width: 100%;
        @include mobile {
            min-height: 300px;
            object-fit: cover;
        }
    }
    &_info {
        position: absolute;
        top: 50%;
        left: 0;
        width: 60%;
        @include tablet {
            width: 100%;
        }
        @include mobile {
            top: 35%;
        }
    }
    &_title {
        color: $light_color;
        font: 60px/34px $font-family__cursive;
        margin: 0 0 20px;
        white-space: nowrap;
        @include tablet {
            white-space: normal;
            line-height: 1.2;
            font-size: 40px;
            margin: 0 0 10px;
        }
    }
    &_subtitle {
        color: $light_color;
        font: 20px/33px $font-family;
        margin: 0 0 20px;
        @include tablet {
            font-size: 18px;
            margin: 0 0 10px;
        }
    }
    &_bright {
        color: $bright_color;
        font-size: 30px;
        font-weight: bold;
    }
    &_link {
        color: $light_color;
        font-size: 14px;

        &:hover {
            text-decoration: none;
        }
    }
}
