@mixin button {
    background: $bright_color;
    border: 1px solid $bright_color;
    display: inline-block;
    cursor: pointer;
    color: $light_color;
    font: 600 14px $font-family;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    transition: .2s ease-in-out background-color,
                .2s ease-in-out border-color,
                .2s ease-in-out color;
}

.button,
button:not([class]),
input[type="button"],
input[type="submit"],  {
    @include button;

    &:hover {
        background-color: $light_color;
        color: $bright_color;
        text-decoration: none;
    }
}

.button__gray {
    @include button;
    background: $light-gray_color;
    border-color: $light-gray_color;
    color: $color;

    &:hover {
        background-color: $color;
        border-color: $color;
        color: $light-gray_color;
    }
}


.button__light {
    @include button;
    background: $light_color;
    border-color: $light-gray_color;
    color: $gray_color;
    padding-left: 40px;
    padding-right: 40px;

    &:hover {
        background-color: $color;
        border-color: $color;
        color: $light_color;
    }
}