.number {
    display: inline-flex;
    height: 40px;
    align-items: stretch;

    &_button {
        cursor: pointer;
        background: transparent;
        border: 1px solid $gray_color;
        color: $gray_color;
        font-size: 15px;
        width: 25px;
        padding: 0;
        text-align: center;
        position: relative;
        transition: .2s ease-in-out color;

        &:hover {
            color: $color;
        }
        &__minus::before {
            content: '-';
            position: absolute;
            left: 8px;
            top: 5px;
            font-size: 20px;
        }
        &__plus::before {
            content: '+';
            position: absolute;
            left: 6px;
            top: 7px;
            font-size: 20px;
        }
    }
    &_input[type] {
        background: transparent;
        color: $color;
        border-color: $gray_color;
        border-width: 1px 0 1px 0;
        padding: 0 2px;
        width: 35px;
        text-align: center;
    }
}
