.header {
    background: $light-gray_color;

    &_container {
        position: relative;
    }
    &_top {
        padding: 30px 0;
        
        .header__main & {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1;
        }
        .col-12 {
            position: static;
        }
    }
    &_controls {
        display: flex;
    }
    &_bottom {
        
    }
}
