.search-button {
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    transition: .2s ease-in-out color;

    &:hover {
        color: $bright_color;
    }
    .header__main & {
        color: $light_color;

        &:hover {
            color: $bright_color;
        }
    }
    .material-icons {
        font-size: 16px;
    }
}