$img-path: "src/img";

$bg_color: #1C1A28;
$bg_color__alt: #231e1e;
$dark_gradient: linear-gradient(to bottom, #1C1A28, #2A2256);
$light_gradient: linear-gradient(to bottom, #FAF9F8, #DEDFE3);
$alt_gradient: linear-gradient(to bottom, #231E1E, #1A6960);

$color: #1d1d1d;
$light_color: #fff;
$bright_color: #dc462b;
$gray_color: #9f9f9f;
$extra-bright_color: #f2cd3c;
$link_color: #FF5722;
$link_color__hover: #FF5722;

$font-family:  'Open Sans', sans-serif;
$font-family__heading: 'Lato', sans-serif;
$font-family__cursive: 'Lobster', cursive;;

$font-size: 13px;
$font-size__small: 12px;

$max-width: 1170px;
$layout_indent: 20px;
