.rating {
    cursor: pointer;

    &_star {
        cursor: pointer;
        background: transparent;
        border: none;
        padding: 0;
        
        &__filled {
            color: #ffbf34;
        }
        
        &.material-icons {
            font-size: 16px;
        }
    }
    &_reviews {
        font-family: $font-family__heading;
        vertical-align: 3px;
        margin: 0 0 0 5px;
        @include mobile {
            text-align: right;
        }
    }
    &_reviews-slash {
        margin: 0 3px;
        @include mobile {
            display: none;
        }
    }
    &_write-review {
        color: $color;
        text-decoration: underline;
        @include mobile {
            display: block;
        }
    }
}
