.banners {
    width: 100%; 
    margin-bottom: 75px;

    td {
        @include mobile {
            display: block;
        }
    }
    td {
        vertical-align: top;
        padding: 0;
        @include mobile {
            display: block;
            margin: 0 0 15px;
        }

        &:not([rowspan]) {
            padding: 0 30px 30px;
            @include tablet {
                padding: 0 15px 18px;
            }
            @include mobile {
                padding: 0;
            }
        }
    }

    &_item {
        color: $light_color;
        display: block;
        position: relative;
    }
    &_image {
        min-width: 100%;
        @include mobile {
            height: 33vh;
            object-fit: cover;
            width: 100%;
        }
    }
    &_text {
        text-align: center;
        position: absolute;
        left: 20px;
        right: 20px;
        top: 50%;
        transform: translate(0, -50%);

        &__bottom {
            transform: none;
            top: auto;
            bottom: 60px;
        }
    }
    &_title {
        display: inline-block;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0 1px;
        border-bottom: 3px solid currentColor;
        @include tablet {
            font-size: 30px;
            line-height: 35px;
        }

        &__border-top {
            border-top: 3px solid currentColor;
            border-bottom: none;
        }
        &__bottom {
            border-bottom: none;
            font-size: 60px;
            line-height: 50px;
            @include tablet {
                font-size: 40px;
            }
        }
    }
    &_subtitle {
        font-size: 20px;
        line-height: 1.2;
        text-transform: uppercase;
        @include tablet {
            font-size: 16px;
        }
    }
    &_link {
        color: $bright_color;
        font-weight: 600;
        letter-spacing: 1px;

        &::before {
            content: '[ ';
            color: $light_color;
        }
        &::after {
            content: ' ]';
            color: $light_color;
        }
    }
}
