.catalog {
    position: relative;
    padding: 0 0 0 20px;
    @include tablet {
        padding: 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -10px;
        width: 1px;
        background: $gray_color;
        @include tablet {
            display: none;
        }
    }

    &_controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @include tablet {
            justify-content: flex-start;
        }

        &__bottom {
            @include tablet {
                display: block;
            }
        }
    }

    &_content-tab {
        display: none;

        &.active {
            display: block;
        }
    }
    &_views {
        font-size: 0;
        letter-spacing: 0;
        white-space: nowrap;
        margin: 0 0 25px;
    }
    &_view-button {
        cursor: pointer;
        color: $gray_color;
        border: 1px solid currentColor;
        height: 28px;
        width: 28px;
        background: $light_color;
        padding: 0;
        margin: 0 10px 0 0;
        text-align: center;
        transition: .2s ease-in-out background,
                    .2s ease-in-out color;

        &:hover,
        &.active {
            background: $bright_color;
            color: $light_color;
        }
        .material-icons {
            line-height: 28px;
        }
    }
    &_control-name {
        font-size: 14px;
        margin: 0 10px 0 0;
        font-weight: bold;
        text-transform: uppercase;
        @include tablet {
            font-size: 12px;
            font-weight: 600;
            margin-right: 5px;
        }
    }
    &_controls-option {
        margin: 0 0 25px 0;
        white-space: nowrap;
        @include tablet {
            margin-left: 10px;
        }
    }
    &_controls-pages {
        margin: 0 0 25px;
    }
}
