.colors {
    &_item {
        cursor: pointer;
        background: transparent;
        border: none;
        border-radius: 50%;
        display: inline-block;
        height: 24px;
        width: 24px;
        margin: 0 10px 0 0;
        padding: 0;

        .material-icons {
            color: $light_color;
            font-size: 13px;
            line-height: 18px;
            opacity: 0;
            transition: .2s ease-in-out opacity;

        }
        &.active .material-icons,
        &:hover .material-icons {
            opacity: 1;
        }
    }
}