.product {
    &_title {
        font: 600 24px $font-family;
        text-transform: uppercase;
    }
    &_price {
        margin: 10px 0 0;
    }
    &_price-value {
        color: $bright_color;
        font-size: 30px;
        font-weight: 600;
    }
    &_price-old {
        color: $gray_color;
        font-size: 16px;
        margin: 0 0 0 16px;
        text-decoration: line-through;
    }
}
