.sizes {
    font-size: 0;
    letter-spacing: 0;
    white-space: nowrap;
    margin: 0 0 10px;

    &_button {
        cursor: pointer;
        color: $gray_color;
        background: transparent;
        border: 1px solid currentColor;
        font-size: 13px;
        font-weight: normal;
        display: inline-block;
        line-height: 28px;
        height: 28px;
        width: 28px;
        margin: 0 10px 0 0;
        padding: 0;
        text-align: center;
        text-transform: uppercase;

        &.active,
        &:hover,
        input:checked + & {
            color: $color;
        }
        &:last-child {
            margin: 0;
        }
    }
}